-- ATHENA Database Schema
-- Initializes tables for events, incidents, attack chains, and reports

CREATE TABLE IF NOT EXISTS events (
    id SERIAL PRIMARY KEY,
    timestamp TIMESTAMP NOT NULL,
    source_ip VARCHAR(45),
    source_port INTEGER,
    target_ip VARCHAR(45),
    target_port INTEGER,
    process_name VARCHAR(255),
    process_id INTEGER,
    command_line TEXT,
    event_type VARCHAR(100),
    parent_process VARCHAR(255),
    user_account VARCHAR(255),
    hostname VARCHAR(255),
    attack_tactic VARCHAR(100),
    attack_technique VARCHAR(50),
    confidence_score FLOAT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX idx_events_timestamp ON events(timestamp);
CREATE INDEX idx_events_technique ON events(attack_technique);
CREATE INDEX idx_events_hostname ON events(hostname);

CREATE TABLE IF NOT EXISTS incidents (
    id SERIAL PRIMARY KEY,
    incident_id VARCHAR(100) UNIQUE,
    title VARCHAR(255),
    description TEXT,
    severity VARCHAR(20),
    status VARCHAR(50),
    start_time TIMESTAMP,
    end_time TIMESTAMP,
    attack_chain JSONB,
    target_org VARCHAR(255),
    num_hosts INTEGER,
    dwell_time VARCHAR(100),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX idx_incidents_severity ON incidents(severity);
CREATE INDEX idx_incidents_status ON incidents(status);

CREATE TABLE IF NOT EXISTS attack_chains (
    id SERIAL PRIMARY KEY,
    chain_id VARCHAR(100) UNIQUE,
    chain_data JSONB,
    correlation_confidence FLOAT,
    attack_narrative TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX idx_chains_confidence ON attack_chains(correlation_confidence);

CREATE TABLE IF NOT EXISTS reports (
    id SERIAL PRIMARY KEY,
    report_id VARCHAR(100) UNIQUE,
    incident_id VARCHAR(100),
    content TEXT,
    format VARCHAR(20),
    file_path VARCHAR(500),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Create user for application access
-- DO ps
-- BEGIN
--     IF NOT EXISTS (SELECT FROM pg_user WHERE usename = 'athena_app') THEN
--         CREATE USER athena_app WITH PASSWORD 'app_password_change_me';
--     END IF;
-- END
-- ps;

-- GRANT CONNECT ON DATABASE athena_db TO athena_app;
-- GRANT USAGE ON SCHEMA public TO athena_app;
-- GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO athena_app;
